.choice {
  padding-top: 75px;
  padding-bottom: 51px;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 150px;
}

.title {
  font-family: "Cera Stencil PRO";
  font-weight: 900;
  font-style: Black;
  font-size: 48px;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 95px;
}

.productList{
    display: flex;
    flex-direction: row;
    gap: 57px;
}

.productItem{
    width: 350px;
    padding: 24px 15px;
}

