.fire {
  padding-top: 50px;
    padding-bottom: 35px;
}

.container-fire {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.container-fire img {
  display: block;
  width: 100%;
  height: auto;
}