.fire {
position: relative;
height: 372px;
z-index: 0;
}

.fire::after {
  content: "";
  position: absolute;
      top: -162px;
  left: 50%;
  transform: translateX(-50%);
  width: 1440px;
  height: 620px;
  background-image: url("/img/webp/fire_bg.webp");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  z-index: -1;
}
