.contact {
  padding-top: 75px;
  padding-bottom: 51px;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 60px 0;
  border-radius: 25px;

  background: rgba(255, 255, 255, 0.1);
}

.title{
  font-family: "Cera Stencil PRO";
font-weight: 900;
font-style: Black;
font-size: 48px;
line-height: 1;
letter-spacing: 0;
text-align: center;
text-transform: uppercase;
color: #ffffff;
margin-bottom: 60px;
}

.information {
  padding-left: 25.5px;
  padding-right: 25.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.mapWrapper {
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.contactForm {
  width: 454px;
}

.form {
  width: 454px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
}

.inputName,
.inputMessage
{
  width: 100%;
  height: 74px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 31px;
  border-radius: 6px;
  background: rgba(251, 251, 251, 0.15);
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  color: #ffffff;
}

.inputName::placeholder,
.inputMessage::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0;
  color: #615e5b;
}

.errorName,
.errorMessage {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
  color: #e00d1d;
  margin-top: 5px;
}

:global(.react-tel-input.formPhone) {
  width: 100%;
  height: 74px;
}

:global(.react-tel-input .form-control.inputPhone) {
  width: 100%;
  height: 100%;
  padding-left: 48px;
  background-color: rgba(251, 251, 251, 0.15);
  border: none;
  border-radius: 6px;
  color: white;
}


.inputPhone {
  width: 100%;
  height: 74px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 31px;
  border-radius: 6px;
  background: rgba(251, 251, 251, 0.15);
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  color: #000;
}


.btnContact {
  cursor: pointer;
  width: 100%;
  height: 70px;
  padding: 10px 11px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1.7px solid rgb(255, 255, 255);
  border-radius: 7px;
  background-color: transparent;
  font-family: "Cera Stencil PRO";
  font-weight: 900;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0;
  color: #ffffff;
  transition: all 300ms ease;
  z-index: 1;
}

.btnContactSpan {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 100%;
  background-color: #e00d1d;
  box-shadow: 0.85px 0.85px 2.56px 0px #ffffff;
  border-radius: 7px;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.2); opacity: 0.7; }
  100% { transform: scale(1); opacity: 1; }
}

.iconPhone {
  animation: pulse 1.2s infinite ease-in-out;
}



