.header {
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  height: 70px;
  width: 100%;
  padding: 10px 0;
}

.container-header {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo-text-header {
  position: relative;
  margin-left: 52px;
  font-size: 40px;
  line-height: 1.3;
  color: #000000;
  text-shadow: -0.95px -0.95px 0 #ffb53f, 0.95px -0.95px 0 #ffb53f,
    -0.95px 0.95px 0 #ffb53f, 0.95px 0.95px 0 #ffb53f;
}

.logo-text-header::after {
  content: "";
  position: absolute;
  background-image: url(/img/fire.gif);
  background-size: contain;
  background-repeat: no-repeat;
  width: 44px;
  height: 53px;
  top: -10px;
  left: -43px;
}

.logo-text-header::before {
  content: "";
  position: absolute;
  background-image: url(/img/line_logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 54px;
  height: 3px;
top: 11px;
    left: 32px;
}


.header-logo-fire {
  position: absolute;
  top: -12px;
  left: -43px;
}

.header-logo-line {
  position: absolute;
  top: 11px;
  left: 33px;
}

.span-btn-header-one {
  margin-left: 23px;
}

.span-btn-header-two {
  color: #e00d1d;
}

.btn-header {
  position: relative;
  font-size: 25px;
  line-height: 1.5;
  width: 262px;
  height: 50px;
  border: none;
  border-radius: 8px;
  padding: 0;
  cursor: pointer;
  background-image: url("/img/btn_fire_background.png");
  background-size: 262px 110px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  color: #000000;
  text-shadow: -0.59px -0.59px 0 #ffb53f, 0.59px -0.59px 0 #ffb53f,
    -0.59px 0.59px 0 #ffb53f, 0.59px 0.59px 0 #ffb53f;
  transition: all 0.3s ease;
}

.btn-header::after {
  content: "";
  background-image: url(/img/fire.gif);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 34px;
  height: 47px;
  top: -10px;
  left: 152px;
}

.btn-header::before {
  content: "";
  background-image: url(/img/btn_line.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 36px;
  height: 2px;
  top: 14px;
  left: 204px;
}

.btn-header:hover {
  box-shadow: 0 4px 10px rgba(224, 13, 29, 0.7);
  transform: translateY(-2px);
}

.fire-btn-back {
  position: absolute;
  top: -9px;
  left: 137px;
  width: 29px;
  height: 42px;
}

.header-btn-fire {
}

.fire-btn-line {
  position: absolute;
  top: 14px;
  left: 184px;
  width: 35px;
  height: 1.7px;
}
